.wrapChain {
    display: flex;
    width: 100%;
    /* padding: 0 5%; */
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.title {
    display: block;
    width: 90%;
    text-align: center;
}
.logoBlock {
    display: flex;
    width: 90%;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin: 20px auto 40px;
}

.logo {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80px;
    filter: grayscale(100%);
}

.logo:hover {
    filter: grayscale(0%);
}

.logoImg {
    width: 90%;
    /* height: auto; */
}