@font-face {
    font-family: "Bookman";
    src: url('./fonts/BOOKOS.TTF') format("truetype");
}

@import url("../styles/burger.css") screen;

body {
    position: relative;
    margin: 0;
}

p {
    font-family: Bookman;
    font-size: 16px;
    margin: 0;
    text-align: center;
    /* color: red; */
}

h1 {
    font-family: Bookman;
    font-size: 30px;
    font-weight: 700;
}

h2 {
    font-family: Bookman;
    font-size: 26px;
    font-weight: 700;
}



.bottles {
    display: flex;
    position: relative;
    margin: 20px 0px 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 320px;
    width: 90%;
}

.bottle {
    display: flex;
    position: relative;
    align-items: flex-end;
    justify-content: space-around;
    height: 320px;
    width: 80px;
    cursor: pointer;
    transition: ease-in-out 1.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.bottle :hover {
    /* height: 320px; */
    width: 100px;
}

.naming {
    display: none;
    position: absolute;
    text-align: center;
    font-weight: 900;
    font-size: 26px;
    color: white;  
    top: 50%; 
}

.bottle:hover .naming{
     display: block;  
}




  .productDescription {
    position: fixed;
    /* display: flex; */
    width: 85%;
    height: 85%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);  
    border: 1px solid #ccc;
    background: #fff;
    overflow: auto;
    border-radius: 4px;
    outline: none;
    padding: 8px;

  }
  
  .productOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.75);
    z-index: 103;
  }

  .ReactModal__Overlay {
    opacity: 0;
    transition: opacity 500ms ease-in-out;
  }
  
  .ReactModal__Overlay--after-open {
    opacity: 1;
  }
  
  .ReactModal__Overlay--before-close {
    opacity: 0;
  }


  /* _____________ */

  @media screen and (min-width: 480px) {
    .bottles {
      width: 100%;
    }

    .productDescription {
      height: 75%;
    }
  }

  @media screen and (min-width: 1150px) {
    .mainContainer {
      display: block;
      width: 1150px;
      margin: 0 auto;
    }
  }

  