.block {
    /* display: block; */

    justify-content: center;
    position: relative;
    height: 568px;
    background-color: #31582b;
}

.bgdImage {
    display: flex;
    content: none;
    height: 100%;
    background-image: url(../../img/elements/kyiv.png);
    background-repeat: no-repeat;
    background-position-y: bottom;
    background-position-x: center;
}
.logo {
    margin: 102px auto 0;
    z-index: 2;
}

.slogan {
    display: block;
    position: absolute;
    width: 70%;
    margin: 260px 15px 50px;
    left: 15px;
    bottom: 50px;
    color: white;
    z-index: 4;
    text-shadow: 10px 9px 17px rgba(0,0,0,0.97), 5px -1px 11px rgba(0,0,0,0.79);
}

.beerBottle {
    /* display: block; */
    position: absolute;
    bottom: -5px;
    right: 0px;
    z-index: 1;
}