.wrapperZibert {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.productBlock {
    display: flex;
    margin: 20px;
    flex-direction: column;
    align-items: center;
}

.logo {
    display: block;
    width: 216px;
}

.logoImg {
    width: 100%;
}

.bottles {
    display: flex;
    position: relative;
    margin: 40px 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 320px;
    width: 90%;
}

.bottle {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-around;
    /* height: 200px; */
    width: 80px;
    transition: ease-in-out 1.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.bottle :hover {
    /* height: 320px; */
    width: 100px;
}

.text {
    text-align: center;
    color: #31582b;
    margin: 0px;
}

.img {
    width: 90%;
}

.can {
    align-items: flex-end;
}

.logoPad {
    display: none;
}

/* _______________ */

@media screen and (min-width: 480px)  {
    .productBlock {
        flex-direction: row;
        width: 90%;
        margin: 0;
    }

    .logo {
        display: none;
    }

    .logoPad {
        display: block;
        justify-content: space-around;
        width: 200px;
        margin-bottom: 15px;
    }

    .textPad {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
    }

    .bottlesWight {
        width: 40%;
    }

    .productBlockZibert {
        flex-direction: row-reverse;
    }
}

@media screen and (min-width: 830px) {
    .productBlock {
        width: 50%;
    }
    .productBlockZibert {
        flex-direction: row;
    }
}